.map-holder {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    max-width: 600px;
    margin: 1rem auto;
}

.svg-holder {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 40px;
  position: relative;
  text-align: center;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: black;
}

a:onhover {
  color: blue;
}

.img-holder {
  position: relative;
  width: 100%;
}

.img-holder img {
  width: 100%;
  display: block;
}

#textbox {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #DDDDE0;
  max-width: 600px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#textbox img {
  margin: 25px;
  max-width: 100%;
  height: 100%;
}

#textbox audio {
  max-width: 100%;
}

.flex-pic {
  display: flex;
  flex-direction: column;
  max-width: 45%;
}

.flex-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 45%;
}

.quote {
  font-style: oblique;
}

path:hover {
  cursor: pointer;
  fill: #505050;
}

@media (max-width: 550px) {

  h1 {
    font-size: 20px;
  }

  #textbox {
    flex-direction: column;
  }

  #textbox img {
    margin: 10px;
  }

  .flex-pic {
    max-width: 75%;
  }

  .flex-text {
    max-width: 80%;
  }


}
