.map-holder {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    max-width: 1100px;
    margin: 1rem auto;
}

.svg-holder {
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.img-holder {
  position: relative;
  width: 100%;
}

.img-holder img {
  width: 100%;
}

#textbox {
  position: absolute;
top: 1rem;
right: 1rem;
background: #fff;
box-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
padding: 1rem;
}
